<footer class="footer">
    <div class="section_container footer_container">
      <div class="footer_col">
        <h3>Hayyu</h3>
        <p>
          Hayyu is a premier hotel booking website that offers a seamless and
          convenient way to find and book accommodations worldwide.
        </p>
        <p>
          With a user-friendly interface and a vast selection of hotels, Hayyu
          aims to provide a stress-free experience for travelers seeking the
          perfect stay.
        </p>
      </div>
      <div class="footer_col">
        <h4>Company</h4>
        <p>About Us</p>
        <p>Our Team</p>
        <p>Blog</p>
        <p>Book</p>
        <p>Contact Us</p>
      </div>
      <div class="footer_col">
        <h4>Legal</h4>
        <p>FAQs</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
      </div>
      <div class="footer_col">
        <h4>Resources</h4>
        <p>Social Media</p>
        <p>Help Center</p>
        <p>Partnerships</p>
      </div>
    </div>
    <div class="footer_bar">Copyright © 2024 Hayyu. All rights reserved.</div>
  </footer>